:root {
  --light-section-color: #e8fdff;
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #05aabb;
}

h1,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.williams {
  color: white;
  font-size: 24px;
}

h4 {
  font-family: "Shadows Into Light", cursive;
  font-size: 72px;
  color: white;
  margin-top: 20px;
}

h5 {
  font-family: "Shadows Into Light", cursive;
  font-size: 48px;
  color: black;
  margin-top: 20px;
}

p {
  font-family: var(--default-font-family);
}

.about-info {
  color: black;
}

.about-info a {
  color: #05aaba;
}

.about-info a:hover {
  color: #05aaba;
  text-decoration: none;
}

.hero h1 {
  font-size: 96px;
  color: white;
}

.header-intro {
  margin-top: 40px;
}

.header-main {
  background: #015d9f;
}

.circle-logo {
  width: 200px;
  height: 200px;
}

nav {
  font-family: var(--default-font-family);
}

.btn-branding {
  background: #ef5f9b;
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 34px;
  padding: 12px 20px;
  color: white;
}

.btn-branding:hover {
  background: white;
  transition: 100ms ease-in-out;
  color: #ef5f9b;
  border: 1px solid #ef5f9b;
}

.btn-document {
  background: #05aaba;
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 34px;
  padding: 12px 20px;
  color: white;
}

.btn-document:hover {
  color: white;
}

i {
  font-size: 32px;
  margin: 16px 16px 0 16px;
}

.contact-section {
  background: var(--light-section-color);
  padding-bottom: 40px;
  padding-top: 28px;
  max-width: 100%;
}

.meltdown-section {
  background: #015e9f;
  padding-bottom: 40px;
  padding-top: 28px;
  max-width: 100%;
}

.contact-icons {
  color: var(--secondary-color);
}

.contact-icons:hover {
  color: var(--secondary-color);
  opacity: 0.6;
}

.taylors-email {
  font-family: var(--default-font-family);
  font-size: 20px;
}

.contact-header {
  font-size: 48px;
  color: black;
}

.smp-header {
  font-size: 48px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .taylor-heaton {
    font-size: 62px;
  }

  .smp-header {
    font-size: 38px;
  }

  .header-intro {
    margin-top: 20px;
  }

  footer {
    padding: 48px;
    padding-bottom: 10px;
  }

  .section-divider,
  .contact-button,
  iframe {
    display: none;
  }

  .more-button {
    margin-bottom: 32px;
  }
}

.email-taylor {
  color: black;
  font-weight: bold;
}

.email-taylor:hover {
  color: #79cbd6;
  text-decoration: none;
}

.nav-link {
  color: #121934;
}

.nav-link:hover,
.active {
  color: var(--secondary-color);
  opacity: 1;
}

.section-divider {
  background: var(--light-section-color);
  padding: 48px;
  padding-top: 18px;
}

.about-divider {
  padding: 48px;
  padding-top: 18px;
  border-style: solid;
  border-color: #8fe4e9;
  border-radius: 40px;
  border-width: 8px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-arrow:hover {
  color: var(--secondary-color);
  opacity: 0.6;
}
.footer-arrow {
  font-size: 124px;
  color: var(--secondary-color);
}

.arrow-link {
  color: var(--secondary-color);
}
.arrow-link:hover {
  text-decoration: none;
}
